/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sarabun:wght@400;500&display=swap');

/* Main Start */

body {
	font-family: 'Sarabun', sans-serif;
}

.underline {
	/* width: 120px;
	height: 5px;
	background-color: blueviolet; */

	width: 8rem;
	border-bottom: 0.3rem solid purple;
	margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Sarabun', sans-serif;
}

/* Main End */